%h1= heading
= render 'shared/pagination'
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.name= cat('name')
      %th.color= cat('color')
      %th.type= cat('type')
      %th.codes= cat('codes')
      %th.tags= cat('tags')
      %th.actions
  %tfoot
    %tr
      %td{:colspan => 4}
        = link_to cat('new'), new_target_path, :class => :btn
  %tbody
    - @targets.each do |target|
      %tr
        %td.name= link_to target.name, edit_target_path(target)
        %td.color
          - if target.color
            %span.color{:style => "background-color: ##{target.color.hex}", :title => target.color.name}
        %td.type= (target.type.name if target.type)
        %td.codes
          %ul
            - target.codes.each do |code|
              %li= code.code
        %td.tags
          %ul
            - target.tags.each do |tag|
              %li= tag.name
        %td.actions= delete_link_to target
= render 'shared/pagination'