.clearfix
  - amplification_sections.each do |section|
    %table.amplifications.table.table-bordered.table-striped
      %thead
        %tr
          %th.cycle.number= t('amplifications.cycle')
          %th.rn.number= t('amplifications.rn')
          %th.delta-rn.number= t('amplifications.delta_rn')
      %tbody
        - section.each do |amplification|
          %tr
            %td.cycle.number= amplification.cycle
            %td.rn.number= decimal(amplification.rn, 4)
            %td.delta-rn.number= decimal(amplification.delta_rn, 4)
