%h1= @analysis.target.name

- unless @analysis.amplifications.empty?
  %ul.nav.nav-tabs
    %li.active
      %a{ :href => '#graph', :data => { :toggle => :tab } } Graph
    %li
      %a{ :href => '#data', :data => { :toggle => :tab } } Data
  .tab-content
    #graph.tab-pane.active
      = amplification_graph [@analysis]
      = analyses_results [@analysis]
    #data.tab-pane
      = amplification_data @analysis
- else
  = cat('no_amplification_data')