= render 'shared/pagination', :collection => requests
%table.requests.table.table-bordered.table-striped
  %thead
    %tr
      %th.request= cat('request')
      %th.targets= cat('targets')
      %th.due= cat('due')
      %th.actions
  %tfoot
    %tr
      %td{:colspan => 4}
        .btn-group
          = link_to cat('new'), new_request_path, :class => :btn
          %button.btn.dropdown-toggle{:data => { :toggle => :dropdown } }
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to cat('new_random'), new_request_path(:params => { :generate => true } )
            %li.divider
            %li
              = link_to cat('generate'), new_request_generator_path
  %tbody
    - requests.each do |req|
      %tr
        %td.request= link_to req.description, req
        %td.targets
          %ul
            - req.analyses.primary.each do |analysis|
              %li= analysis.target.name
        %td.due= due_in req.due_date
        %td.actions= delete_link_to req, :title => req.description
= render 'shared/pagination', :collection => requests
