%h1= cat('title')
= raw cat('description')
%table.table
  %thead
    %tr
      %th.color= cat('color')
  %tbody    
    - @colors.each do |color|
      %tr
        %td.color
          %span.color{:style => "background-color: ##{color.hex}"}
          = color.name
