%h1= t('login.title')
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => ['login', 'vertical-form']}) do |f|
  = f.input :email, :required => true, :input_html => {:autofocus => :autofocus}
  = f.input :password, :as => :password, :required => true
  - if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean, :label => t('login.remember_me'), :wrapper => :checkbox
  = f.button :submit, :value => t('login.submit'), :class => 'btn btn-primary'
%p
  = t('login.no_login') 
  = link_to t('login.register'), new_user_registration_path
